.homepage-next-events .next-event-wrap figure img {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
}


/*------------ CarteConcert . css ------------*/
.next-event-wrap .card-event{
padding: 0 15px
}
.card-event .entry-title{
    min-height: 3lh;
}

.container {
    max-width: 1400px;
}

.single-event {
    cursor: pointer;
}
.events-page-header {
    background-image: url(/src/assets/images/events-page-header-bg.jpg);
    background-position-y: top;
}

@media screen and (min-width: 1200px) {
    .page-header {
        height: 150px;
        padding: 100px 0;
    }
}
.events-search {
    padding: 40px 0;
}
