.site-header{
    background-color: blueviolet;
    a.active{
        color:#cfc9d4
    }
}

.input-entry{
    display: flex;
    background-color: #ED80FF;
    padding:5px 10px;
    min-height: 40px;
    align-content: center;
    flex-wrap: wrap;
    
}

@media (min-width: 992px) {
    .d-lg-block {
        display: flex !important;
        justify-content: flex-end;
    }
}